.red {
  --bg-color: #f44336;
  --readable-text-color: #fff;
}

.pink {
  --bg-color: #e91e63;
  --readable-text-color: #fff;
}

.purple {
  --bg-color: #9c27b0;
  --readable-text-color: #fff;
}

.deepPurple {
  --bg-color: #673ab7;
  --readable-text-color: #fff;
}

.indigo {
  --bg-color: #3f51b5;
  --readable-text-color: #fff;
}

.blue {
  --bg-color: #2196f3;
  --readable-text-color: #fff;
}

.lightBlue {
  --bg-color: #03a9f4;
  --readable-text-color: #fff;
}

.cyan {
  --bg-color: #00bcd4;
  --readable-text-color: #fff;
}

.teal {
  --bg-color: #009688;
  --readable-text-color: #fff;
}

.green {
  --bg-color: #4caf50;
  --readable-text-color: #fff;
}

.lightGreen {
  --bg-color: #8bc34a;
  --readable-text-color: #fff;
}

.lime {
  --bg-color: #cddc39;
  --readable-text-color: #000;
}

.yellow {
  --bg-color: #ffeb3b;
  --readable-text-color: #000;
}

.amber {
  --bg-color: #ffc107;
  --readable-text-color: #000;
}

.orange {
  --bg-color: #ff9800;
  --readable-text-color: #fff;
}

.deepOrange {
  --bg-color: #ff5722;
  --readable-text-color: #fff;
}

.brown {
  --bg-color: #795548;
  --readable-text-color: #fff;
}

.grey {
  --bg-color: #9e9e9e;
  --readable-text-color: #fff;
}

.blueGrey {
  --bg-color: #607d8b;
  --readable-text-color: #fff;
}
