@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin boxShadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin icon($size) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-url);
}

html,
body {
  font-family: "Roboto", sans-serif;
}

button {
  outline: none;
  background-color: #ccc;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;

  transition: filter 100ms linear, transform 15ms linear,
    border-color 50ms linear;

  @include boxShadow1();
}

button:hover,
button:focus {
  filter: brightness(1.1);
}

button:focus {
  border: 1px solid #aaa;
}

button:active {
  filter: brightness(0.9);
  box-shadow: unset;
  transform: translateY(1px);
}

button:disabled {
  filter: contrast(0.8);
  transform: none;
  cursor: default;
  box-shadow: unset;
}

button.icon {
  display: inline-flex;
  align-items: center;
}

button.icon::before {
  $size: 1.5em;
  width: $size;
  height: $size;
  margin-right: math.div($size, 2);
  display: inline-block;
  content: " ";
  @include icon($size);
}

input {
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  border-bottom: 1px solid #333;
  transition: background-color 100ms linear, box-shadow 100ms linear,
    border-color 50ms linear;
}

input:hover {
  background-color: #f8f8f8;
}

input:focus-within {
  background-color: #f4f4f4;
  border: 1px solid #888;
  @include boxShadow1();
}

input[type="number"].noArrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}

input[type="file"] {
  border: none;
  box-shadow: none;
  background-color: transparent;

  &::-webkit-file-upload-button {
    @extend button;
  }
}
