@use "sass:math";
@use "sass:color";
@use "colors";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin boxShadow1($color: #000) {
  box-shadow: 0 1px 3px rgba($color, 0.12), 0 1px 2px rgba($color, 0.24);
}

@mixin icon($size: 1em) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-url);
}

html,
body {
  font-family: "Roboto", sans-serif;
}

input {
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: 1px solid transparent;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 100ms linear, box-shadow 100ms linear,
    border-color 50ms linear;
}

input:hover {
  background-color: #f8f8f8;
}

input:focus-within {
  background-color: #f4f4f4;
  border: 1px solid #888;
  @include boxShadow1();
}

input[type="number"].noArrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}

input[type="file"],
input[type="range"] {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
}

input[type="file"]::-webkit-file-upload-button {
  @extend button;
}

input[type="button"] {
  @extend button;
  color: var(--readable-text-color);
  background-color: var(--bg-color);
}

input[type="checkbox"] {
  box-shadow: unset;
}

input[type="range"] {
  height: 1em;
  appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  background: var(--bg-color, #646464);
}
input[type="range"]::-webkit-slider-thumb {
  height: 11px;
  width: 11px;
  margin-top: -5px;
  border-radius: 50%;
  background: var(--bg-color, #ccc);
  cursor: grab;
  -webkit-appearance: none;
  filter: saturate(0.4);
  @include boxShadow1();
}
input[type="range"]:active::-webkit-slider-thumb {
  cursor: grabbing;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  filter: brightness(0.9);
}

select {
  @extend input;
  @include icon();

  #{--icon-url}: url(svg-data-url("icons/dropdownArrow.svg"));

  appearance: none;
  padding-right: 4em;
  background-position: calc(100% - 0.5em) calc(50% + 1px);
}

input[type="date"],
input[type="time"] {
  @include icon();

  #{--icon-url}: url(svg-data-url("icons/datePicker.svg"));

  padding-right: 3em;
  background-position: calc(100% - 0.5em) calc(50% + 1px);
  position: relative;

  &::-webkit-calendar-picker-indicator {
    width: 100%;
    position: absolute;
    opacity: 0;
    margin: 0;
  }
}

input[type="time"] {
  #{--icon-url}: url(svg-data-url("icons/timePicker.svg"));
}

button {
  outline: none;
  color: var(--readable-text-color, #212121);
  background-color: var(--bg-color, #ccc);
  padding: 0.25em 1em;
  border-radius: 0.25em;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  user-select: none;

  transition: filter 100ms linear, transform 15ms linear,
    border-color 50ms linear;

  @include boxShadow1();
}

button:hover,
button:focus {
  filter: brightness(1.1);
}

button:focus {
  border-color: rgba(0, 0, 0, 0.25);
}

button:active {
  filter: brightness(0.9);
  box-shadow: unset;
  transform: translateY(1px);
}

button:disabled {
  filter: contrast(0.8);
  transform: none;
  cursor: default;
  box-shadow: unset;
}

button.icon {
  display: inline-flex;
  align-items: center;
}

button.icon::before {
  $size: 1.5em;
  width: $size;
  height: $size;
  margin-right: math.div($size, 2);
  display: inline-block;
  content: " ";
  @include icon($size);
}

button.icon.invert::before {
  filter: invert(1);
}
